# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environment variables
.env

# Virtual environments
venv/
env/
*.venv
*.env

# Django migrations
*.log
*.pot
*.py[co]
*.so
*.pyd
db.sqlite3

# Django static files
/staticfiles/
/media/

# IDE files
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Testing
.tox/
.pytest_cache/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
